body {
    background-image: url(../rainyDay.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.ClockContainer {
    border: solid 1px;
    width: auto;
    padding: 16px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: azure;
    font-size: 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}